body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fefef2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: white;
  border: 1px solid #e24ace;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  text-align: right;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 3px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 70px); /* wider buttons */
  grid-gap: 10px;
}


.keys button {
  height: 70px;
  font-size: 1.3rem;
  border: none;
  border-radius: 15px; 
  cursor: pointer;
}

.keys button:not(.operator-btn):not(#clear):not(#delete):not(#equal) {
  background: #e24ae2;
  color: white;
}

.keys button:not(.operator-btn):not(#clear):not(#delete):not(#equal):hover {
  background-color: hsl(304, 94%, 67%);
}

.keys button:not(.operator-btn):not(#clear):not(#delete):not(#equal):active {
  background-color: hsl(293, 45%, 65%);
}

.operator-btn {
  background: #7a057a;
  color: white;
}
.operator-btn:hover{
    background-color: hsl(300, 57%, 33%);
}
.operator-btn:active{
    background-color: hsla(300, 8%, 88%, 0.699);
}

#clear {
  background: #f3a436;
  color: white;
  font-weight: bold;
}

#delete {
  background: #ca322d;  
  color: white;
  font-weight: bold;
}

#equal {
  background: #7a057a;
  color: white;
  font-weight: bold;
}
